@page "/blazor/top-app-bar"

@code {
	[CascadingParameter] MainLayout MainLayout { get; set; }
}

@{
  if (MainLayout.BackgroundMode == BackgroundModes.Dark)
  {
    <style>
      code {
        background: #121212 !important;
      }
    </style>
  }
}

<div class="stackedit">
  <div class="stackedit__html">
    <h1>Blazor Top App Bar</h1>

    Docs coming soon!
    
  </div>
</div>